language: go

go:
  - 1.13.1

before_install:
  - go get -v github.com/axw/gocov/gocov
  - go get -v github.com/mattn/goveralls
  - go get -v github.com/onsi/ginkgo
  - go get -v github.com/onsi/gomega
  - go get -v -t ./...
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get -v golang.org/x/tools/cmd/cover; fi

script:
  - cd ./toposort && go test --ginkgo.progress --cover --race
  - $HOME/gopath/bin/goveralls -service=travis-ci
